### Virtualenv ###
*\venv
 
# Configuraciones
*\config
.env
*.sql
 
# Variables de Entorno
.env
 
## Byte-compiled / optimized / DLL files
#*\__pycache__
*\__pycache__\*
*.pyc
*.p
 
### Customs ###
*.xlsx
*.ipynb
*.log
*.docx
*.csv